/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


/* DIFFERENT WIDTHS */
.w-100 {
    width: 100%;
    border: 1px solid green;
}

.w-80 {
    width: 80%;
    border: 1px solid red;
}

.w-60 {
    width: 60%;
    border: 1px solid blue;
}

.w-40 {
    width: 40%;
    border: 1px solid purple;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}



/* DIFFERENT BACKGROUND COLORS */
.bgc-1 {
    background-color: #b8d4e4;
}

.bgc-2 {
    background-color: #a2d39b;
}

.bgc-3 {
    background-color: #61082b;
}

.bgc-4 {
    background-color: #0093ce;
}

.bgc-5 {
    background-color: #ff1c1c;
}

.bgc-6 {
    background-color: #d5001f;
}

.bgc-7 {
    background-color: #0d2481;
}

.bgc-8 {
    background-color: #ffd830;
}

.bgc-9 {
    background-color: #f5f5f5;
}


/* OTHER GENERIC CLASSES */

.c-padding {
    padding: 40px;
}

.flex-div {
    display: flex;
}

.wrap-between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.centered-element {
    justify-content: center;
    align-items: center;
}



/* TAGS FORMATTING */
h1 {
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-size: 32px;
    padding: 30px 0px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 20px 0px;
}

hr {
    width: 10%;
    margin: 40px 0px;
}

ul {
    list-style: none;
}


/* CONTAINER */
/* TODO Fare container più piccolo */
.container-large {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

/* To be place inside a container-large or container-small to partition them */
/* TODO Creare unica classe container con diverse classi di misura width anche per altro tipo img-full?? */


.sub-container-large {
    width: 60%;
    /* TODO Da rimuovere */
    border: solid 2px red;
}

.sub-container-small {
    width: 40%;
    padding: 40px;
    /* TODO Da rimuovere */
    border: solid 2px blue;
}

.sub-container-full {
    width: 100%;
    /* TODO Da rimuovere */
    border: solid 2px green;
}

.sub-container-third {
    width: calc(100% / 3);
}



/* BOTTONI LINK*/
.btn {
    padding: 5px 15px;
    text-decoration: none;
}

.btn-style1 {
    background-color: #0061FF;
    color: white;
}

.btn-style2 {
    background-color: #fff;
    border: 1px solid black;
}

.btn-style3 {
    background-color: #fff;
}


/* HEADER */

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;

    /* TODO Da rimuovere */
    border: solid 2px grey;
}

.nav-bar {
    align-items: center;
    padding: 10px;
}

.logo {
    display: inline-block;
    margin-right: 15px;

}

.nav-bar li {
    float: left; /* Same as giving display:flex property to the nav-links ul */
    padding: 5px 15px;
}

.nav-link {
    text-decoration: none;
    color: black;
}





/* MAIN */

main {
    margin-top: 60px;
}

section {
 
    padding: 90px 0px 0px 0px;
    /* TODO Da rimuovere */
    border: solid 2px black;

}


/* TODO Capire come gestire il padding/margin top variabile */
.no-padding {

    padding: 0;
}

.card {
    width: calc((100% - 15px * 2 * 3) / 3);
    /* TODO Da rimuovere */
    border: dashed 1px aquamarine;
    
}

/* JUMBOTRON SECTION */

/* TODO Cercare una soluzione che non comporti l'utilizzo del position? */
.jumbo {
    max-width: 100%;
    position: relative;
    bottom: -50px;
    right: -50px;
}


/* PRICING */



/* DROPBOX PARTERNS */
.partner {
    background-image: url(../img/partner.png);
}


/* BUSINESS FEATURES */


/* TODO Da rimuovere */
#features .card {
    margin: 30px 0px;
}


/* BUSINESS CLIENTS */


/* BANNER */

.squared-element {
    width: calc((100vw / 3) / 2 - 5px);
    height: calc((100vw / 3) / 2 - 5px);
    border: 1px dashed brown;
    justify-content: center;
    align-items: center;
}

.squared-element a {
    text-align: center;
    filter: invert(1); /* Invert color sample so black --> white */
}

/* TODO Quando restringo il testo deve essere coperto e andare in scroll */
.central-ban {
    padding: 40px;
}


/* TRY DROPBOX BUSINESS */



/* FREQUENTLY ASKED QUESTIONS */
.faq-element {
    border-top: solid 1px grey;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    /* TODO Da rimuovere */
    height: 30%;
}

.faq-element:last-child {
    border-bottom: solid 1px grey;
}


.faq-title, .faq-open, .faq-close {
    font-weight: 900;
}

.faq-text {
    display: none;
}

.faq-close {
    display: none;
}

.faq-element:hover .faq-text{
    display: block;
}

.faq-element:hover .faq-open{
    display: none;
}

.faq-element:hover .faq-close{
    display: block;
}



/* FOOTER */

footer {
    background-color: black;
    color: white;
    margin-top: 90px;
}

footer .w-100{
    justify-content: space-between;
    padding: 20px 0px;
}

footer ul {
    margin: 20px 0px;
}

footer a {
    text-decoration: none;
}

footer li {
    color: white;
    padding: 5px;
}

footer h3 {
    margin-bottom: 20px;
}

footer hr {
    color: white;
}

footer .fa-angle-up {
    font-size: 8px;
    vertical-align: super;
}